content/xml-schema/v1.0.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="idType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9.]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NOType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".{0,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="richcontentType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="reasonType">
        <xs:sequence>
            <xs:element name="richcontent" type="richcontentType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="idType" use="required"/>
        <xs:attribute name="NO" type="NOType" use="required"/>
    </xs:complexType>
    <xs:complexType name="descType">
        <xs:sequence>
            <xs:element name="richcontent" type="richcontentType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="idType" use="required"/>
        <xs:attribute name="NO" type="NOType" use="required"/>
    </xs:complexType>
    <xs:complexType name="reqspecType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="group" type="groupType"/>
                <xs:element name="reqspec" type="reqspecType"/>
                <xs:element name="reason" type="reasonType"/>
                <xs:element name="desc" type="descType"/>
            </xs:choice>
            <xs:sequence>
                <xs:element name="richcontent" type="richcontentType" minOccurs="1" maxOccurs="1"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="group" type="groupType"/>
                    <xs:element name="reqspec" type="reqspecType"/>
                    <xs:element name="reason" type="reasonType"/>
                    <xs:element name="desc" type="descType"/>
                </xs:choice>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="id" type="idType" use="required"/>
        <xs:attribute name="NO" type="NOType" use="required"/>
    </xs:complexType>
    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="group" type="groupType"/>
                <xs:element name="reqspec" type="reqspecType"/>
            </xs:choice>
            <xs:sequence>
                <xs:element name="richcontent" type="richcontentType" minOccurs="1" maxOccurs="1"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="group" type="groupType"/>
                    <xs:element name="reqspec" type="reqspecType"/>
                </xs:choice>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="id" type="idType" use="required"/>
        <xs:attribute name="NO" type="NOType" use="required"/>
    </xs:complexType>
    <xs:complexType name="usdmType">
        <xs:sequence>
            <xs:element name="group" type="groupType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:element name="usdm" type="usdmType">
        <xs:unique name="uniqueID">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
</xs:schema>